#mainPane{
    -fx-background-color: rgba(255,255,0,0.5);
    -fx-background-image:url("image2.png");
    -fx-background-position: center;
    -fx-background-size: cover;
    //-fx-background-repeat: no-repeat;
}
#btn{
    -fx-border-radius: 10px;
}
#mainPane1{
    -fx-background-image:url("551.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}
#mainPane2{
    -fx-background-image:url("11.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;


}

#button{
    -fx-background-image:url("img.png");
    -fx-background-size: cover;

}
